* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 100px;
    height: 100px;
    color: white;
    font-weight: bold;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 20px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    .box {
        color: black;
        background-color: white;
    }
}